<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8 />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="text-center">

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div class="alert alert-info mt-2">
        <h1 th:text="${post.title}"/>

        <div class="container m-2" th:if="${not #strings.isEmpty(post.filename)}">
            <img th:src="'/img/' + ${post.filename}" class="img-fluid" alt="Responsive image">
        </div>

        <p th:text="${post.full_text}"/>

        <p th:text="${post.getAuthor()}"/>

        <p><b>Просмотры: </b> <span th:text="${post.views}"/></p>

        <a th:href="'/blog/' + ${post.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>

        <form th:action="'/blog/' + ${post.id} + '/remove'" method="post">
            <button type="submit" class="btn btn-warning">Удалить</button>
        </form>
    </div>
</div>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->

</body>
</html>