<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8 />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="text-center">

<!--<header th:insert="blocks/header :: header"></header>-->

    <div class="container">

<!--        <div th:if="${message}">-->
<!--            [[${message}]]-->
<!--        </div>-->

        <form class="form-signin" th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1><br>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Bad credentials.
            </div>
            <div th:if="${param.logout}" class="alert alert-danger" role="alert">
                You have been logged out.
            </div>

            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Ivan Ivanov" required="" autofocus=""><br>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required=""><br>

            <div class="row">
                <div class="checkbox m-auto">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

<!--                <div class="g-recaptcha m-auto" data-sitekey="6LdHLLYZAAAAAJr-i2RPlvxk5ONul2Ypmc6Dr1_w"></div>-->
<!--                <br/>-->
<!--                <div th:if="${not #strings.isEmpty(captchaError)}" class="invalid-feedback">-->
<!--                    [[${captchaError}]]-->
<!--                </div>-->
            </div>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><br>
            <a href="/registration">Register new user.</a>
            <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
        </form>
    </div>
<!--<footer th:insert="blocks/footer :: footer"></footer>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>